.product-category-page {
    .tab-content {
        .product-item {
            .product-buttons {
                display: flex;
                justify-content: center;
                i {
                    cursor: pointer;
                }
            }
        }
    }
}