.header-top {
    .container {
        .row {
            .dropdown {
                &-content {
                    .cart-content {
                        tbody {
                            display: block;
                            max-height: 300px;
                            overflow-y: auto;
                            overflow-x: hidden;
                        }
                    }
                }
            }
        }
    }
}